{var $diskuze = 1}
{var $sdileni = 1}
{var $clanek = 0}
{var $m1C1 = act}
{block content}
<h2>Napište nám</h2>
{control napisteNamForm}
{/block}
{block kamDal}
<p><a href="/">Velmi zajímavý článek k věci</a></p>
<p><a href="/">Související služba s tematickým popiskem</a></p>
<p><a href="/">Další související služba</a></p>
