html{
font-size:16px;}
body{
font-size:1em;font-size:1rem;
line-height:1.6;
font-family:sans-serif;}
h1,h2,h3{
line-height:1.3;}
menu{
line-height:1.15;}
h1{
font-size:1.6em;font-size:1.6rem;}
h2{
font-size:1.4em;font-size:1.4rem}
h3,.add h2{
font-size:1.2em;font-size:1.2rem;}
#foot{
font-size:0.9em;font-size:0.9rem;}
#menu,#text{
float:left;}
#text{
float:right;
}
.c{
clear:both;}
#madd li{
display:inline-block;}
body{
min-width:555px;}
#menu{
width:25%;}
#madd li{
width:33.33333333333%}
#text{
width:75%;}
body{
margin:0;}
h1,menu{
margin-top:0;}
h1,menu{
margin-bottom:0;}
#all{
margin:0.5em;margin:0.5rem;}
h2{
margin:1.1em auto;margin:1.1rem auto;}
h3{
margin:1em auto;margin:1rem auto;}
p{
margin:0.9em auto;margin:0.9rem auto;}
#madd{
margin-top:2.5em;margin-top:2.5rem;}
menu{
padding:0;}
#text .add{
padding-top:1px}
menu div{
padding:0.4em 0;padding:0.5rem 0;}
#text div{
padding:1.2em 4%;padding:1.2rem 4%;}
menu li div,#sign div,#text #madd li div{
padding:0.5em;padding:0.5rem;}
menu menu li div{
padding-left:2em;padding-left:2rem;}
body,.act,.act:hover{
color:#000;}
#menu,menu a,#sign,#sign a{
color:#fff;}
#menu,menu a,menu li div:hover,#sign{
background-color:#000}
#text,.act,.act:hover{
background-color:#fff;}
.add,#madd .act{
background-color:#e9e9e9;}
body{
background-color:#ccc;}
#madd{
background-color:#333333}
#m1,#m3{
background-color:#2e002f;}
#m2{
background-color:#162d00;}
a{
color:#004482}
h1,#foot,#madd li{
text-align:center;}
#sign{
text-align:right;}
#sign img{
vertical-align:middle;}
menu{
list-style:none;}
menu{
font-weight:bold;}
menu menu,h3{
font-weight:normal;}
menu menu,h3{
font-style:italic;}
menu a,#sign a{
text-decoration:none;}
/* Nette */
div.flash{
color:black;
background:#FFF9D7;
border:1px solid #E2C822;
padding:1em;
margin:1em 0;}
a[href^="#error:"]{
background:red;
color:white;}
form th,form td{
vertical-align:top;
font-weight:normal;}
form th{
text-align:right;}
form .required label{
font-weight:bold;}
form .error{
color:#D00;
font-weight:bold;}
html.js .jshidden{
display:none;}