html{
font-size: 16px;}
body{
font-size: 1em;font-size: 1rem;
line-height: 1.6;
font-family: sans-serif;}
h1,h2,h3{
line-height: 1.3;}
menu{
line-height: 1.1;}
h1{
font-size: 1.8em;}
menu{
font-size: 1.2em; font-size: 1.2rem;}
menu menu{
font-size: 0.9em;font-size: 1.1rem}
menu menu menu{
font-size: 0.9em; font-size: 1rem;}
#menu,#text{
float: left;}
#text{
float: right;
}
#menu{
width: 25%;}
#text{
width: 75%;}
body{
margin: 0;}
h1,menu{
margin-top: 0;}
h1,menu{
margin-bottom: 0;}
#all{
margin: 0.5em;margin: 0.5rem;}
h2{
margin: 1.1em auto;margin: 1.1rem auto;}
h3{
margin: 1em auto;margin: 1rem auto;}
p{
margin: 0.9em auto;margin: 0.9rem auto;}
menu{
padding: 0;}
menu div{
padding: 0.4em 0; padding: 0.5rem 0;}
#text div{
padding: 1.2em 1.5em; padding: 1.2rem 1.5rem;}
menu li div{
padding: 0.4em 0.5em;padding: 0.5rem 0.5rem;}
body,.act,.act:hover{
color: #000;}
body{
background-color: #ccc;}
#menu, menu a{
color: #fff;}
#menu, menu a, menu li div:hover{
background-color: #000}
#text,.act,.act:hover{
background-color: #fff;}
#m1,#m3{
background-color: #2e002f;}
#m2{
background-color: #162d00;}
h1{
text-align: center;}
menu{
list-style: none;}
menu{
font-weight: bold;}
menu menu{
font-weight: normal;}
menu menu{
font-style: italic;}
menu menu menu{
font-style: normal;}
menu a{
text-decoration: none;}
/* Nette */
div.flash{
color: black;
background: #FFF9D7;
border: 1px solid #E2C822;
padding: 1em;
margin: 1em 0;}
a[href^="#error:"] {
background: red;
color: white;}
form th, form td{
vertical-align: top;
font-weight: normal;}
form th{
text-align: right;}
form .required label{
font-weight: bold;}
form .error{
color: #D00;
font-weight: bold;}
html.js .jshidden{
display: none;}